<html>
    
  <body>

    <!-- Hidden Preheader Text (Works in Gmail, Outlook, etc.) -->
    <div style="display:none; font-size:1px; color:#ffffff; line-height:1px; max-height:0px; max-width:0px; opacity:0; overflow:hidden;">
      A unified digital space for educators and students-tailored to your mission.
    </div>

    <p>Hi {NAME},</p>

    <p>{BODY}</p>  
    

    <p><a href="https://calendly.com/gaurav-anavcloudsoftwares/30-mins-meeting-with-g?month=2025-04" style="color: #007bff; text-decoration: none;"><strong>[Schedule a quick call now!]</strong></a></p>

    <p style="background-color: yellow; padding: 10px;">
      If you prefer not to receive further emails, please let us know by responding to this email with the word 'STOP'. We value your input and aim to honor your preferences.
    </p>

    

    <p>{FOOTNOTE} </p>
    <p>Best Regards,

      <br> {SENDER_NAME}  | Sales Representative | <a href="https://www.anavcloudsoftwares.com" style="color: #007bff; text-decoration: none;">AnavClouds Software Solutions</a></br></p>

    <hr>
    <p>CONFIDENTIALITY NOTICE: This e-mail and any attachments contain confidential information of AnavClouds Software Solutions and may be privileged. It is intended only for the addressee(s) hereof. If you are not an intended recipient, you are hereby notified that any disclosure, copying, printing, distribution, or use of this e-mail and/or the accompanying attachment(s) is strictly prohibited. If you have received this e-mail in error, please immediately notify the sender by return e-mail.</p>

    

  </body>
  

</html>
 